:root{
  --mainBlue: #2a2a72;
  --main: #009ffd;
  --mainWhite: #f3f3f3;
  --mainnDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: 'Bangers', cursive!important;
  background: var(--mainWhite)!important;
  color: var(--mainDark)!important;
}

.text-title {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--mainBlue);
}

.btn-black{
  background-color: transparent;
  text-transform: capitalize;
  font-size: 1.5rem !important;
  color: black;
  border-radius: 0 !important;
  border: 2px solid black !important;
  padding: 2px 15px !important;
}

.btn-black:hover{
  background: var(--mainYellow) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--mainYellow);
}